<rz-content #content1 container="main">
  <div [ngStyle]="{'height': '', 'marginTop': '-7px', 'paddingBottom': '0', 'paddingLeft': '5px', 'paddingRight': '3px', 'paddingTop': '0', 'width': ''}" class="row">
    <div class="justify-content-start       d-flex align-items-center col-md-8" [ngStyle]="{'height': '57px', 'paddingBottom': '1px'}">
      <rz-heading #heading18 size="H1" [style]="{'color': '#5d717b', 'display': 'inline-block'}" text="Handbuch">
      </rz-heading>
      <rz-heading #heading19 size="H3" [style]="{'color': '#e5ecef', 'display': 'inline-block', 'marginTop': '7px', 'paddingLeft': '10px', 'paddingRight': '10px'}" text="|">
      </rz-heading>
      <rz-heading #heading21 size="H3" [style]="{'color': '#789BC0', 'display': 'inline', 'fontSize': '21px', 'fontWeight': 'normal'}" text="SinDarEla" >
      </rz-heading>
    </div>
    <div class="col-md-4  d-flex justify-content-end align-items-end" [ngStyle]="{'paddingRight': '20px'}">
      <rz-button #button0 buttonStyle="info" buttonType="submit" icon="print" size="md" [style]="{'backgroundColor': 'rgba(0, 0, 0, 0)', 'border': '1px solid #A71330', 'borderBottom': '3px solid #A71330', 'color': '#6A80AA', 'display': 'block', 'fontWeight': 'normal', 'width': '150px'}" text="Drucken" (click)="button0Click($event)">
      </rz-button>
    </div>
  </div>
  <rz-tabs #tabs0 [style]="{'float': 'none', 'height': '831px'}">
    <rz-tabs-item [selected]="false" text="Handbuch">
      <div class="col-md-12">
        <rz-html #html0>
          <div innerHTML='{{handbuchHtml}}'></div>
        </rz-html>
      </div>
    </rz-tabs-item>
  </rz-tabs>
</rz-content>
