<rz-content #content1 container="main">
  <div [ngStyle]="{'height': '', 'marginTop': '-7px', 'paddingBottom': '0', 'paddingLeft': '5px', 'paddingRight': '3px', 'paddingTop': '0', 'width': ''}" class="row">
    <div class="justify-content-start       d-flex align-items-center col-md-8" [ngStyle]="{'height': '57px', 'paddingBottom': '1px'}">
      <rz-heading #heading0 size="H1" [style]="{'color': '#5d717b', 'display': 'inline-block'}" text="Geräte">
      </rz-heading>
      <rz-heading #heading1 size="H3" [style]="{'color': '#6A80AA', 'display': 'inline-block', 'marginTop': '7px', 'paddingLeft': '10px', 'paddingRight': '10px'}" text="|">
      </rz-heading>
      <rz-heading #heading2 size="H3" [style]="{'color': '#6A80AA', 'display': 'inline', 'fontSize': '21px', 'fontWeight': 'normal'}" text="{{dsoDevice?.DeviceNummer}} · {{dsoDevice?.DeviceTitel}}" >
      </rz-heading>
    </div>
    <div class="col-md-4  d-flex justify-content-end align-items-end" [ngStyle]="{'paddingRight': '20px'}">
      <rz-button #button1 buttonStyle="info" buttonType="submit" icon="print" size="md" [style]="{'backgroundColor': 'rgb(230, 236, 239)', 'borderBottom': '2px solid #a71330', 'color': '#5d717d', 'display': 'block', 'fontWeight': 'normal', 'width': '150px'}" text="Drucken" (click)="button1Click($event)">
      </rz-button>
    </div>
  </div>
  <rz-tabs #tabs0 [style]="{'float': 'none'}">
    <rz-tabs-item [selected]="true" text="Daten">
      <div [ngStyle]="{'height': '100%'}" class="row">
        <div class="col-md-10">
          <rz-panel #panel0 [style]="{'border': '1px solid #e6ecef', 'height': '740px'}" text="{{rstDeviceCount}} Geträte">
            <rz-grid #gridDevice [allowAdd]="false" [allowColumnResize]="true" [allowDelete]="false" [allowFiltering]="true" [allowMultiSorting]="false" [allowPaging]="false" [allowSorting]="true" applyFilterText="Apply" clearFilterText="Clear" [confirmDelete]="false" containsText="Contains" [count]="rstDeviceCount" [data]="rstDevice" emptyText="Keine Geräte vorhanden" endsWithText="Ends with" equalsText="Equals" filterCaseSensitivity="caseInsensitive" greaterThanOrEqualsText="Greater than or equals" greaterThanText="Greater than" lessThanOrEqualsText="Less than or equals" lessThanText="Less than" locale="de" notEqualsText="Not equals" [pageSize]="22" startsWithText="Starts with" [style]="{'border': '1px solid rgba(0, 0, 0, 0)', 'height': '690px', 'marginLeft': '-10px', 'marginRight': '-10px', 'marginTop': '-13px'}" (loadData)="gridDeviceLoadData($event)" (rowDoubleClick)="gridDeviceRowDoubleClick($event)" (rowSelect)="gridDeviceRowSelect($event)">
              <rz-grid-column property="DeviceNummer" title="Gerätenummer" width="200px" type="string">
              </rz-grid-column>
              <rz-grid-column property="DeviceTitel" title="Gerätetitel" width="200px" type="string">
              </rz-grid-column>
              <rz-grid-column property="DeviceTyp" title="Gerätetyp" width="150px" type="string">
              </rz-grid-column>
              <rz-grid-column format="date-time" formatString="dd.MM.yyyy HH:mm" property="RegistriertAm" title="Registriert am" width="130px" type="string">
              </rz-grid-column>
              <rz-grid-column property="InventurBasis.LagerortNummer" title="Lagerort aktiv" width="300px" type="string">
                <ng-template let-data gridColumnTemplate>
                {{data?.InventurBasis?.LagerortNummer}} {{data?.InventurBasis?.LagerortTitel}}
                </ng-template>
              </rz-grid-column>
              <rz-grid-column format="date-time" formatString="dd.MM.yyyy HH:mm" property="AnmeldungAm" title="Anmeldung am" width="130px" type="string">
              </rz-grid-column>
              <rz-grid-column property="Info" title="Info" type="string">
              </rz-grid-column>
            </rz-grid>
            <rz-panel-header>
              <div class="row">
                <div class="col-md-12 align-items-start d-flex">
                  <rz-button #buttonNeu buttonStyle="light" icon="add" size="sm" [style]="{'color': '#A71330', 'display': 'block', 'marginRight': ''}" text="Neues Gerät" (click)="buttonNeuClick($event)">
                  </rz-button>
                  <rz-button #buttonBearbeiten buttonStyle="light" icon="create" size="sm" [style]="{'color': '#6A80AA', 'display': 'block', 'marginLeft': '10px', 'paddingLeft': ''}" tooltip="Bearbeiten Gerät" (click)="buttonBearbeitenClick($event)">
                  </rz-button>
                  <rz-button #buttonLoeschen buttonStyle="light" [disabled]="false" icon="cancel" size="sm" [style]="{'color': '#6A80AA', 'display': 'block', 'fontWeight': 'normal', 'marginLeft': '10px', 'marginRight': '-9px', 'paddingLeft': ''}" tooltip="Löschen Gerät" (click)="buttonLoeschenClick($event)">
                  </rz-button>
                </div>
              </div>
            </rz-panel-header>
          </rz-panel>
        </div>
        <div class="col-md-2" [ngStyle]="{'paddingLeft': '5px'}">
          <rz-panel #panel1 [allowCollapse]="false" [collapsed]="false" [style]="{'border': '1px solid #e6ecef', 'height': '740px'}" text="Info">
            <rz-textarea #textarea0 [readOnly]="true" [style]="{'height': '658px', 'width': '100%'}" [(ngModel)]="dsoDevice && dsoDevice.Info" name="textarea0">
            </rz-textarea>
          </rz-panel>
        </div>
      </div>
    </rz-tabs-item>
  </rz-tabs>
</rz-content>
